{% extends 'base.html' %}
{% block title %}总资产{% endblock %}
{% block home_active %} active {% endblock %}
{% block body %}
<div id="main" style="width: 100%;height:400px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        title: {
            text: '{{echartsOption.title}}',
            subtext: '截至{{echartsOption.xAxis[-1]}}\t：{{echartsOption.data[-1]}}元\t(={{echartsOption.data_jpy[-1]|round(2)}}円)',
            left: 'center'
        },
        tooltip: {},
        legend: {
            data:['人民币', '日元'],
            right:'10%',
            bottom:'20%',
            orient:'horizontal'
        },
        xAxis: {
            data: {{echartsOption.xAxis|tojson}}
        },
        yAxis: [
            {
                type: 'value',
                name: '人民币',
                position: 'left',
                axisLine: {
                    show: true,
                },
                axisLabel: {
                    formatter: '{value} 元'
                }
            },
            {
                type: 'value',
                name: '日元',
                position: 'right',
                axisLine: {
                    show: true,
                },
                axisLabel: {
                    formatter: '{value} 円'
                }
            },
        ],
        dataZoom: [
            { startValue: '{{echartsOption.startValue}}' },
            { type: 'inside' },
            {
                type: 'slider',
                show: true,
                yAxisIndex: [0,1],
                left: '5%',
                start:0
            }
        ],
        series: [{
                name: '人民币',
                type: 'line',
                data: {{echartsOption.data}},
                yAxisIndex:0
            },
            {
                name: '日元',
                type: 'line',
                data: {{echartsOption.data_jpy}},
                yAxisIndex:1

            }
        ]
    };
    myChart.setOption(option);

</script>
    <div style="overflow: auto; height: 400px;">
    <table class="table table-sm text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">日期</th>
                <th scope="col">人民币</th>
                <th scope="col">日元</th>
                <th scope="col">汇率</th>
            </tr>
        </thead>
        <tbody >
            {% for i in range(0, echartsOption.data|length) %}
                <tr>
                    <th scope="row">{{echartsOption.xAxis[-loop.index]}}</th>
                    <td>{{echartsOption.data[-loop.index]}}</td>
                    <td>{{echartsOption.data_jpy[-loop.index]}}</td>
                    <td>{{echartsOption.fxrate[-loop.index]|round(4)}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
